<side-menus>
  <pane side-menu-content>
    <header class="bar bar-header bar-positive">
      <button class="button button-icon" ng-click="openLeft()"><i class="icon ion-navicon"></i></button>
      <h1 class="title"><i class="icon ion-person"></i> {{user.fn}} {{user.ln}}</h1>
      <button class="button button-icon" ng-click="openRight()"><i class="icon icon ion-ios7-people"></i></button>
    </header>
    <div class="content has-header padding">
      <div class="card">
        <notification message="You're at {{location.name}}"></notification>
        <notification message="Last check in here 2 days ago"></notification>
      </div>
      <div class="list card">
        <a href="#/location" class="item item-icon-left positive">
          <i class="icon ion-information"></i>
          {{location.name}}
        </a>

      </div>

      <div class="card padding">
        <button class="button button-block button-balanced"><i class="icon ion-navigate"></i> &nbsp;&nbsp;Check in</button>
      </div>
    </div>
  </pane>
  <side-menu side="left">
    <header class="bar bar-header bar-dark">
      <h1 class="title">Settings</h1>
    </header>
    <content has-header="true">
      <ul class="list">
        <a href="#/friend/add" class="item">
          <i class="icon ion-person-add"></i> &nbsp;&nbsp;Add friend
        </a>
        <a href="#/profile" class="item">
          <i class="icon ion-person"></i> &nbsp;&nbsp;Edit profile
        </a>
        <a href="#/places" class="item">
          <i class="icon ion-location"></i> &nbsp;&nbsp;Places
        </a>
        <a ng-click="logOut()" class="item">
          <i class="icon ion-power"></i> &nbsp;&nbsp;Log Out
        </a>
      </ul>
    </content>
  </side-menu>
  <side-menu side="right">
    <header class="bar bar-header bar-dark">
      <h1 class="title">Friends</h1>
    </header>
    <content has-header="true">
      <ul class="list">
        <a class="item" ng-repeat="friend in friends">
          <i class="icon ion-ios7-circle-filled" ng-class="{online: friend.active === 1, offline: friend.active === 0}"></i> {{friend.fn}} {{friend.ln}}
        </a>
      </ul>
    </content>
  </side-menu>
</side-menus>