<div class="bar bar-header bar-positive">
    <a href="#/dashboard" class="button button-clear">
        <i class="icon ion-chevron-left"></i>
    </a>
    <h1 class="title">Location connected to</h1>
</div>

<div class="content has-header padding">
    <div class="list card">
      <div class="item item-avatar">
        <img src="{{location.pic}}">
        <h2>{{location.name}}</h2>
        <p>Last visit: 2 days ago</p>
      </div>

      <div class="item item-body">
        <map zoom="14" markers="[{latitude: {{location.lat}}, longitude: {{location.lng}} }]" lat="44.43" lng="26.1"></map>
        <p>
          {{location.desc}}
        </p>
      </div>
    </div>
</div>