<div class="bar bar-header bar-positive">
    <a href="#/dashboard" class="button button-clear">
        <i class="icon ion-chevron-left"></i>
    </a>
    <h1 class="title">Edit profile</h1>
</div>
<div class="list card has-header">
    <div class="item item-body">
        <label class="item item-input">
            <input type="text" placeholder="First Name" />
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Last Name" />
        </label>

        <button class="button button-block button-balanced"> Update </button>
    </div>
</div>