{% extends 'base.html' %}
{% load staticfiles %}
    {% block title %}Beacon ar {{ location.place_name }} :: Login{% endblock %}

    {% block extracss %}
    <!-- Custom styles for this template -->
    <link href="{% static "css/signin.css" %}" rel="stylesheet">
    {% endblock %}

    {% block content %}
      <form class="form-signin" method="POST" action="">{% csrf_token %}
        <h2 class="form-signin-heading">Beacon Connect</h2>
        <input type="text" class="form-control" placeholder="Username" name="user" required autofocus>
        <input type="password" class="form-control" placeholder="Password" name="pass" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Connect</button>
      </form>

    </div> <!-- /container -->
    {% endblock %}